{% extends '::base.html.twig' %}

 {% block body %}

 <h1>Como se pintan los formularios: El formulario usuario </h1>
 
{% for flashMessage in app.session.flashbag.get('success') %}
<div style="background-color: rosybrown">
    {{ flashMessage }}
</div>
{% endfor %}

 <h2>La manera más rápida, pero con menos control sobre los widgets</h2>
 <form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    <div>
    {{ form_label(form.nombre) }}
    {{ form_errors(form.nombre) }}
    {{ form_widget(form.nombre) }}
    </div>

    <div>
    {{ form_label(form.apellidos) }}
    {{ form_errors(form.apellidos) }}
    {{ form_widget(form.apellidos) }}
    </div>

    <div>
    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}
    </div>

    <div>
    {{ form_label(form.isActive) }}
    {{ form_errors(form.isActive) }}
    {{ form_widget(form.isActive) }}
    </div>

    <div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}
    </div>

    <div>
    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password) }}
    </div>

    {{ form_rest(form) }}

     <input type="submit" />
 </form>

 {% endblock %}